{% extends "layout.html" %}

{% block title %}
    Reply
{% endblock %}

{% block main %}
    <form action="/compose" method="post">
        <div class="form-group">
            <label>From:</label>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="sender" placeholder="Sender" type="email" value="{{ emailDetail.recipient }}">
        </div>
        <div class="form-group">
            <input class="form-control mx-auto w-auto" id="recipient" name="recipient" placeholder="Recipient" type="email" value="{{ emailDetail.sender }}">
        </div>
        <div class="form-group">
            <label>Subject:</label>
            <input class="form-control mx-auto w-auto" id="subject" name="subject" placeholder="Subject" type="text" value="{{ emailDetail.subject }}">
        </div>
        <div class="form-group">
            <textarea name="body"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Reply</button>
    </form>
{% endblock %}
